<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="venus.command.convert" class="com.dhf.venus.server.command.convert.ChainedPushConvert">
		<constructor-arg ref="venus.command.converts" />
	</bean>

	<util:list id="venus.command.converts">
		<bean class="com.dhf.venus.server.command.convert.EventPushConvert">
			<constructor-arg ref="venus.acccess" />
			<constructor-arg ref="venus.event.factory" />
		</bean>
	</util:list>

</beans>