<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean class="com.dhf.venus.server.command.impl.CliProxyCommand" init-method="init" destroy-method="destory">
		<constructor-arg ref="venus.command.chained" />
	</bean>

	<bean id="venus.command.chained" class="com.dhf.venus.server.command.impl.ChainedCommand">
		<constructor-arg ref="venus.command.commands" />
	</bean>

	<util:list id="venus.command.commands">
		<bean class="com.dhf.venus.server.command.impl.LogCommand" />
		<bean class="com.dhf.venus.server.command.impl.BroadcastCommand">
			<constructor-arg ref="venus.command.convert" />
			<constructor-arg ref="venus.connect.pusher" />
		</bean>
	</util:list>

</beans>