<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="venus.netty.handler" class="com.dhf.venus.server.command.netty.NettyCommandHandler">
		<constructor-arg ref="venus.command.chained" />
		<constructor-arg value="EXIT" />
	</bean>

	<bean class="com.dhf.venus.server.command.netty.NettyServer" init-method="init" destroy-method="destory">
		<constructor-arg ref="venus.netty.handler" />
		<constructor-arg value="${netty.port}" />
	</bean>

</beans>