<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="venus.config" class="com.dhf.venus.impl.VenusConfig">
		<constructor-arg value="classpath:venus.conf" />
	</bean>

	<bean id="venus.convert" class="com.dhf.venus.convert.impl.DefaultConvert">
		<constructor-arg ref="venus.event.factory" />
	</bean>

	<bean id="venus.event.factory" class="com.dhf.venus.event.impl.DynaEventFactory">
		<constructor-arg ref="venus.config" />
	</bean>

	<import resource="classpath:spring-venus-connect.xml" />

</beans>