<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="venus.connect.address" class="com.dhf.venus.client.connect.ClientAddressGenerator" />

	<bean id="venus.connect.listener.ack" class="com.dhf.venus.client.connect.AckListener" parent="venus.connect.listener.reply">
		<constructor-arg ref="venus.event.factory" />
	</bean>

	<bean id="venus.connect.listener.update" class="com.dhf.venus.client.connect.UpdateListener">
		<constructor-arg ref="venus.client.updated" />
	</bean>

	<bean id="venus.connect.listener.update.chained" class="com.dhf.venus.connect.impl.ChainedListener">
		<constructor-arg>
			<util:list>
				<ref bean="venus.connect.listener.update" />
				<ref bean="venus.connect.listener.ack" />
			</util:list>
		</constructor-arg>
	</bean>

	<util:map id="venus.connect.listeners">
		<entry>
			<key>
				<util:constant static-field="com.dhf.venus.event.Event.ACTION_PULL" />
			</key>
			<ref bean="venus.connect.listener.update" />
		</entry>
		<entry>
			<key>
				<util:constant static-field="com.dhf.venus.event.Event.ACTION_PUSH" />
			</key>
			<ref bean="venus.connect.listener.update.chained" />
		</entry>
	</util:map>

</beans>